{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg"><a href="{{ base_path }}/">{{ site.title }}</a></li>
          {% for link in site.data.navigation.main %}
            {% assign link_url = link.url %}
            {% if link_url contains '://' %}
              {% assign link_href = link_url %}
            {% else %}
              {% assign link_href = link_url | relative_url %}
            {% endif %}
            {% assign link_target = link.target %}
            <li class="masthead__menu-item">
              <a href="{{ link_href }}"
                 {% if link_target %}target="{{ link_target }}"{% if link_target == '_blank' %} rel="noopener"{% endif %}{% endif %}>
                {{ link.title }}
              </a>
            </li>
          {% endfor %}
            <!-- <li class="masthead__menu-item"><a href="{{ '/old' | relative_url }}">Old</a></li>
            <li class="masthead__menu-item"><a href="{{ '/files/cv.pdf' | relative_url }}">CV</a></li> -->
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
